/* 设置主窗口的背景颜色 */
QWidget {
    background-color: rgb(210, 228, 238);
}

/* 设置名为head的QLabel的背景图片 */
QLabel#head {
    image: url(:/qie.png);
}

/* 设置所有QPushButton中间字体颜色为蓝色 */
QPushButton {
    color: blue;
}
QTextEdit, QLineEdit {
    background-color: white;
}
QListWidget#listWidget{
background-color: white;
}
